@page "/sudokuGrid"
@using System.Text.Json
@using bme_fon_talerin.Data
@using bme_fon_talerin.Data.Models
@using bme_fon_talerin.Models
@attribute [StreamRendering]

@inject TalerinContext Context

<style>
    .sudokugrid {
        aspect-ratio: 1 / 1;
        height: min(75vh, 75vw);
        width: min(75vh, 75vw);
        display: grid;
        grid-template-columns: @GridLayout;
        gap: 5px;
        background-color: dodgerblue;
        padding: 5px;
    }
</style>
<style>
    .cell {
        aspect-ratio: 1 / 1;
        width: 100%;
        height: 100%;
        background-color: #f1f1f1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
    }
</style>


<PageTitle>SudokuGrid</PageTitle>

<p>Sudoku Grid</p>

<div class="sudokugrid">
    @for (var row = 0; row < SudokuData.Size; row++)
    {
        @for (var column = 0; column < SudokuData.Size; column++)
        {
            <SudokuCell Row="row" Column="column" Value="GivenCells[row][column]"></SudokuCell>
        }
    }
</div>

@code {
    private Sudoku SudokuData { get; set; }

    private int?[][] GivenCells { get; set; }

    private string GridLayout { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        SudokuData = Context.Sudokus.First();

        GivenCells = JsonSerializer.Deserialize<SudokuGridCells>(SudokuData.GivenCells).Cells;

        for (var size = 0; size < SudokuData.Size; size++)
        {
            GridLayout += " auto";
        }
    }
}